<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <h1>Welcome To Members Only Club</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/new-message">Create New Message</a></li>
            <% if (currentUser) { %>
                <% if (!isMember) { %>
                    <li><a href="/join-club">Join Club</a> to see message author names and post dates!</li>
                <% } %>    
                <li><a href="/log-out">Log Out</a></li>
            <% } else { %>
                <li><a href="/sign-up">Sign Up</a></li>
                <li>Already have an account? <a href="/log-in">Log In</a></li>
            <% } %>    
        </ul>
    </nav>
    <h2><%= title %></h2>
    <% if (locals.messages && messages.length > 0) { %>
        <ol>
            <% messages.forEach(message => { %>
                <li>
                    <p><b><%= message.title%></b></p>
                    <% if (isMember) { %>
                        <p><b>By: </b><%= message.author.fullName %> </p>
                        <p><b>Posted On: </b><%= message.formatted_date %></p> 
                    <% } %>
                    <p><%= message.message_text%></p>
                    <% if (isAdmin) { %>
                        <form action="/<%= message.id %>/delete" method="post">
                            <button type="submit" onclick="return confirm('Are you sure you want to delete this message?')">Delete Message</button>
                        </form>
                    <% } %>
                </li>
            <% }); %>
        </ol>
    <% } else { %>
        <p>There are no messages in the club yet. Be the first to post!</p>
        <a href="/new-message"><button>Create New Message</button></a>
    <% } %>
</body>
</html>